#cart{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 20px;
    /* justify-content: center; */
    margin: auto;
    max-width: 1245px;
}


.img{
    width: 400px;
}
.box{   
    height: 380px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 12%);
    /* border: 1px solid red; */
    /* width: 100%; */
    
}

.box:hover{
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 26%);
}
.name{
    width: 300px;
    /* border: 1px solid red; */
    margin: auto;
    line-height: 40px;
    overflow: hidden;
    margin-top: 12px;
    font-family: Favoritfreshly,sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.25em;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 6px;
    /* margin-left: 6px; */

}
#add1{
    /* border: 1px solid red; */
    width: 1300px;
    margin: auto;
}


html{
    scroll-behavior: smooth;
    font-family: Favoritfreshly,sans-serif;
}

#addfood{
    height: 40px;
    align-items: center;
    background-color: #3167ff;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: .5px;
    border:1px solid #3167ff;
    width: 100px;
    /* border: 1px solid red; */
    /* margin-right: 90%; */
    /* margin-top:15px; */
    margin-left: 90%;
    
}

#remove{
    height: 40px;
    align-items: center;
    background-color: #3167ff;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.33em;
    letter-spacing: .5px;
    border:1px solid #3167ff;
    width: 100px;
    /* border: 1px solid red; */
    margin-left: 40%;
    margin-top:15px;
}
#next{
    display: flex;
    /* border: 1px solid red; */
    width: 200px;
    width: 400px;
}

#nextbutton{
    height: 40px;
    align-items: center;
    background-color: #3167ff;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 28px;
    line-height: 1.33em;
    letter-spacing: .5px;
    border:1px solid #3167ff;
    width: 400px;
    border: 1px solid #3167ff;
    /* margin-left: 70%; */
    margin-top:15px;
    font-family: Favoritfreshly,sans-serif;
    /* padding: 10px */
}
#next>div>img{
    height: 60px;
    width: 60px;
    padding: 8px;
}

#next>#imgdiv{
    border-radius: 20px;
    border: 1px solid grey;
    margin-left: 14%;
   
}


#final{
    font-family: Favoritfreshly,sans-serif;
    /* border: 1px solid red; */
    width: 400px;
    margin-left: 65%;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 12%);
}
#final:hover{
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 26%);
}
#price{
    border: 1px solid red;
    width: 40px;
}
#count{
    /* border: 1px solid red; */
    width: 10px;
    margin-left: -38px;
    height: 20px;
    margin-top: 28px;
    font-weight: 600;
    font-family: sans-serif;
    color: red;
    

    
}